/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

    GENERAL

*/

section:nth-child(1){
    background-color: #2C3E50;
}

main section:nth-child(odd){
    background-color: #1ABC9C;
}



/* 

    HEADER

*/
header{
    background-color: #2C3E50;
}


/* 

    MAIN

*/

main section:nth-child(1) img{
    margin-bottom: 20px;
    max-width: 30%;
}

main section:nth-child(1) h2, 
main section:nth-child(1) p,
main section:nth-child(3) h2,
main section:nth-child(3) p{
    color:white;
}

main section:nth-child(2) h2,
main section:nth-child(4) h2{
    color: black;
}

button i{
    color: white;
    margin-right: 5px;
}

.flex-star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-star div hr{
    width: 100px;
}


.flex-star div i{
    color: white;
}

section:nth-child(2) div .flex-star div i,
section:nth-child(4) div .flex-star div i{
    color: black;
}
/* 

    FOOTER

*/

footer .footer_top{
    background-color: #3A546D;
}

footer .footer_bottom{
    background-color: #2C3E50;
    color: white;
}

.footer_top div i{
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    margin-right: 4px;
}

.footer_top div i:first-child{
    padding: 10px 13px;
}



/* 

  \RESPONSIVE

*/






