/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

    GENERAL

*/

section:nth-child(1){
    background-color: #2C3E50;
}

main section:nth-child(odd){
    background-color: #1ABC9C;
}



/* 

    HEADER

*/
header{
    background-color: #2C3E50;
}


/* 

    MAIN

*/

main section:nth-child(1) img{
    width: 20%;
    margin-bottom: 20px;
}

main section:nth-child(1) h2, main section:nth-child(1) p{
    color:white;
}


.flex-star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-star div hr{
    width: 100px;
}


.flex-star div i{
    color: white;
}


/* 

    FOOTER

*/

footer .footer_top{
    background-color: #3A546D;
}

footer .footer_bottom{
    background-color: #2C3E50;
    color: white;
}




/* 

  \RESPONSIVE

*/






